"""modules package

This package is a place for submodules that extend the CLI. Add new
modules here and expose them via imports.

Example:
  from {{ project_name }}.modules import example

Author: {{ author }}
Created: {{ created }}
"""

from . import example

__all__ = ["example"]
