"""
{{ project_name }}

Short package description: This package is a place for submodules that extend the CLI. Add new
modules here and expose them via imports.

Author: {{ author }}
Created: {{ created }}
Version: {{ version }}

"""

__all__ = ["cli", "modules"]

__version__ = "{{ version }}"
__author__ = "{{ author }}"
__created__ = "{{ created }}"

