"""
Entrypoint for `python -m {{ project_name }}`.

Author: {{ author }}
Created: {{ created }}
Version: {{ version }}
"""

from src.{{ projec_name }} import main


if __name__ == "__main__":
    raise SystemExit(main())
